p {
    border: 2px solid rgb(255, 0, 64);
    outline: red;
    margin: auto;  
    padding: 9px;
    text-align: left;
  }

/* Stijlen voor het menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.614);
  position: fixed; /* Maak het menu vast bovenaan de pagina */
  top: 0; /* Plaats het menu helemaal bovenaan */
  width: 100%; /* Maak het menu 100% breed */
  z-index: 2; /* Zorg ervoor dat het menu boven andere elementen wordt weergegeven */
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: rgba(255, 38, 0, 0.557);
}

.active {
  background-color white;
}

/* Stijlen voor de titel van de website */
h1 {
  color: white;
  text-align: center;
  margin-top: 50px; /* Voeg een bovenmarge toe om ruimte te maken voor het menu */
}

/* Voeg andere stijlen toe voor de rest van je inhoud */




h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

/* CSS voor de iframe-container */
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #FF0000; /* Rode achtergrondkleur */
  color: #FFFFFF; /* Witte tekstkleur */
  padding: 20px; /* Ruimte rondom de inhoud in de footer */
  text-align: center; /* Tekst gecentreerd in de footer */
  font-style: italic; /* Cursieve tekst */
}


