
.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }

/* Stijl voor de titel van de website */
h1 {
    color: white;
    text-align: center;
    margin-top: 50px; /* Ruimte boven de titel om plaats te maken voor het menu */
}

/* Aanvullende stijlen voor andere koppen */
h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

/* CSS voor de iframe-container */
.iframe-container {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    min-height: 70vh; /* Minimale hoogte van de container, in dit geval 70% van de viewport hoogte */
    z-index: -1; /* Verlaag de z-index om ervoor te zorgen dat de tekst erboven wordt weergegeven */
}


/* Stijlen voor de footer */
footer {
    background-color: #ff0000; /* Rode achtergrondkleur */
    color: #FFFFFF; /* Witte tekstkleur */
    padding: 20px; /* Ruimte rondom de inhoud in de footer */
    text-align: center; /* Tekst gecentreerd in de footer */
    font-style: italic; /* Cursieve tekst */
}
</style>