/* General body styling */
body {
    background-color: rgb(255, 0, 64);
}

/* Heading styles */
h1, h2, h3 {
    color: white;
    text-align: center;
}

h1 {
    margin-top: 50px; /* Ruimte boven de titel om plaats te maken voor het menu */
    clear: both;
}

/* Paragraph styles */
p {
    font-family: verdana;
    font-size: 16px;
    color: white;
    border: 2px solid rgb(255, 0, 64); /* Rand met rode kleur */
    outline: red; /* Rode rand rondom de focus van het element */
    margin: auto; /* Horizontaal centreren */
    padding: 9px; /* Ruimte binnenin het element */
    text-align: left; /* Tekst uitlijnen naar links */
}

/* Image styling */
img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

/* Navigation menu styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.614); /* Rode achtergrondkleur met lichte transparantie */
    position: fixed; /* Menu vast bovenaan de pagina */
    top: 0;
    width: 100%;
    z-index: 2;
}

li {
    float: left; /* Lijstitems naast elkaar plaatsen */
    position: relative; /* Noodzakelijk voor het positioneren van de dropdown-menu's */
    border-right: 1px solid #bbb; /* Rechterrand tussen menu-items */
    margin-right: 20px;
}

li:last-child {
    border-right: none; /* Geen rechterrand voor het laatste menu-item */
}

li a {
    display: block;
    color: white; /* Witte tekstkleur */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px; /* Larger font size */
}

li a:hover:not(.active) {
    background-color: rgba(255, 38, 0, 0.557); /* Rode achtergrondkleur bij hover */
}

.active {
    background-color: white; /* Witte achtergrondkleur voor het actieve menu-item */
}

/* Dropdown menu styling */
.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.top-level-menu > li {
    float: left;
    height: 40px;
    width: 130px;
    background: #999999;
}

.top-level-menu > li:hover {
    background: #CCCCCC;
}

.top-level-menu li:hover > ul {
    display: block; /* Show next-level menu on hover */
}

.second-level-menu, .third-level-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Hidden by default */
    background-color: #999999;
    z-index: 1;
}

.second-level-menu {
    top: 100%; /* Position the second-level menu directly below the top-level menu */
    left: 0;
    width: 130px;
}

.third-level-menu {
    top: 0;
    left: 100%; /* Position the third-level menu next to the second-level menu */
    width: 150px;
}

.second-level-menu > li, .third-level-menu > li {
    height: 40px;
    background: #999999;
}

.second-level-menu > li:hover, .third-level-menu > li:hover {
    background: #CCCCCC;
}

/* Footer styles */
footer {
    background-color: #ff0000;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-style: italic;
}




