/* General body styling */
body {
    background-color: rgb(255, 247, 247);
}

/* Heading styles */
h1, h2, h3 {
    color: rgb(223, 31, 31);
    text-align: center;
}

h1 {
    margin-top: 60px; /* Ruimte boven de titel om plaats te maken voor het menu */
    clear: both;
}

/* Paragraph styles */
p {
    font-family: verdana;
    font-size: 16px;
    color: rgb(223, 31, 31)
    border 2px solid rgb(255, 0, 64); /* Rand met rode kleur */
    outline: red; /* Rode rand rondom de focus van het element */
    margin: auto; /* Horizontaal centreren */
    padding: 9px; /* Ruimte binnenin het element */
    text-align: left; /* Tekst uitlijnen naar links */
}

/* Image styling */
img {
    width: 24%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Main navigation menu styles */
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible; /* Veranderd van hidden naar visible zodat dropdowns niet worden afgesneden */
    background-color: rgba(255, 0, 0, 0.614); /* Rode achtergrondkleur met lichte transparantie */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
}

.main-menu li {
    display: inline-block;
    position: relative; /* Noodzakelijk voor het positioneren van de dropdown-menu's */
    border-right: 1px solid #bbb; /* Rechterrand tussen menu-items */
    margin-right: 13px;
    height: 50px;
}

.main-menu li:last-child {
    border-right: none; /* Geen rechterrand voor het laatste menu-item */
    margin-right: 0;
}

.main-menu li a {
    display: block;
    color: white; /* Witte tekstkleur */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px; /* Larger font size */
}

.main-menu li a:hover:not(.active) {
    background-color: rgba(255, 38, 0, 0.557); /* Rode achtergrondkleur bij hover */
}

.active {
    background-color: white; /* Witte achtergrondkleur voor het actieve menu-item */
}

/* Footer styles */
footer {
    background-color: #ff0000;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-style: italic;
}







